<div class="col-md-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="img/visuHTML.png" alt="thumbproject">
      <div class="card-body">
        <h5 class="card-title">NOME</h5>
        <p class="card-text">DESCRIÇÃO</i></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Visualizar</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
          </div>
          <small class="text-muted">TECNLOGIAS</small>
        </div>
      </div>
    </div>
  </div>